<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Miniräknare</title>

  <style>
    html * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    button {
      width: 22%;
      padding: 10px;
      margin-bottom: 10px;
      border: none;

      border-radius: 5px;
    }
    h1{
      font-size: 1.5rem;
      margin-top: 1rem;
      font-family: arial, sans-serif;
      color: #606060;
    }

    .num {
      background-color: #f4f4f4;
    }

    .equal {
      background-color: powderblue;
    }

    input {
      height: 3rem;
      padding: 5px;
      font-size: 1.5rem;
      width: 100%;
    }

    .rootDiv {
      margin: 0.5rem;
      width: 500px;
      min-width: 235px;
    }

    .buttonContainer {
      margin-top: 10px;
      width: 100%;
    }

    .buttonContainer>div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  </style>


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    window.addEventListener('load', () => {

      new Vue({
        el: '#root',
        data: {
          history: '',
          inputValue: '',
          inputPlaceholder: '',
          currentValue: '',
          minusSign: 0,
          dotSign: 0,
          previousSign: '',
          results:[]

          // plusButton: '+'


        }, // data

        methods: {
          validateNum: function(evt) {;

            if (this.previousSign === '=') {
              this.history = '';
              this.inputValue = '';
              this.currentValue = '';
              this.previousSign = '';
              this.minusSign = 0;
            }

            evt = (evt) ? evt : window.event;
            let charCode = (evt.which) ? evt.which : evt.keyCode;
            /* Use either which or keyCode, depending on browser support,
            here we chech wich one of them that is true*/

            // if input is emty enable minusSign again
            // this only works if the input type is text, cant count length with type number
            if (this.minusSign === 1 && this.inputValue == '') {
              this.minusSign = 0;
            }

            if (this.dotSign === 1 && this.inputValue.indexOf(".") === -1) {
              this.dotSign = 0;
            }

            // validate which buttons that should work or not
            if (charCode > 47 && charCode < 58 || charCode === 45 || charCode === 46) {
              if (this.minusSign === 0 && this.inputValue == '' && charCode === 45 &&
                this.history.endsWith("-") !== true &&
                this.history.endsWith("+") !== true &&
                this.history.endsWith("/") !== true &&
                this.history.endsWith("*") !== true) { // The minus (-) sign should only be possible as a first character

                this.minusSign = 1;
                return true;

              } else if (this.dotSign === 0 && this.inputValue.indexOf(".") === -1 && this.inputValue !== '' && charCode === 46) {
                if (this.inputValue.indexOf('-') === 0 && this.inputValue.length === 1) { // The dot (.) sign should only be possible as a second character
                  evt.preventDefault();
                } else {
                  this.dotSign = 1;
                  return true;
                }
              } else if (charCode > 47 && charCode < 58) {
                console.log('true key ', charCode);
                return true;
              } else {
                evt.preventDefault();
                console.log('false key ', charCode);
              }
            } else {
              console.log('false key ', charCode);
              evt.preventDefault();
            }
          }, // validateNum

          minusButton: function() {
            console.log(this.minusSign);
            if (this.minusSign === 1 && this.inputValue === '') {
              this.minusSign = 0;

            }
            if (this.minusSign === 0 && this.inputValue == '' &&
              this.history.endsWith("-") !== true &&
              this.history.endsWith("+") !== true &&
              this.history.endsWith("/") !== true &&
              this.history.endsWith("*") !== true) {
              this.minusSign = 1;
              this.inputValue += '-';
            }

            if (this.inputValue.length > 0 && this.inputValue.indexOf("-") === -1 || this.inputValue.indexOf("-") === 0 && this.inputValue.length > 1) {
              this.history += this.inputValue + '-';

              if (this.currentValue !== '') {
                let val = this.currentValue + this.previousSign + this.inputValue;
                let counted = eval(val);
                console.log('counted ', counted);


                this.inputPlaceholder = counted;
                this.currentValue = counted;
                this.inputValue = '';

                this.previousSign = '-';
              } else {
                //console.log('what I get ', this.currentValue);
                this.inputPlaceholder = this.inputValue;
                this.currentValue = this.inputValue;
                // this.inputPlaceholder = '';
                //  console.log( 'before ',this.previousSign);
                this.inputValue = '';
                this.previousSign = '-';
                //  console.log('after ',this.previousSign);
              }

            }

          }, // minusButton
          dotButton: function() {
            if (this.dotSign === 1 && this.inputValue.indexOf(".") === -1) {
              this.dotSign = 0;
            }
            if (this.dotSign === 0 && this.inputValue.indexOf(".") === -1 && this.inputValue !== '') {
              if (this.inputValue.indexOf('-') === 0 && this.inputValue.length === 1) {

              } else {
                this.dotSign = 1;
                this.inputValue += '.';
              }
            }
          }, // dotButton
          clear: function() {
            this.history = "";
            this.inputValue = "";
            this.inputPlaceholder = '';
            this.currentValue = '';
            this.previousSign = '';
            this.minusSign = 0;
          },

          plusButton: function(sign) {
          //  console.log(this.previousSign);

            if (this.inputValue !== '') {
              if (this.inputValue.indexOf('-') === 0 && this.inputValue.length === 1) {

                console.log('must be a number');
              } else {


                if (sign === '/' || sign === '*') {
                  this.history += this.inputValue + sign;

                  if (this.currentValue !== '') {
                    let val = this.currentValue + this.previousSign + this.inputValue;
                    let counted = eval(val);
                    console.log('counted ', counted);


                    this.inputPlaceholder = counted;
                    this.currentValue = counted;
                    this.inputValue = '';

                    this.previousSign = sign;
                  } else {
                    //console.log('what I get ', this.currentValue);
                    this.inputPlaceholder = this.inputValue;
                    this.currentValue = this.inputValue;
                    // this.inputPlaceholder = '';
                    //  console.log( 'before ',this.previousSign);
                    this.inputValue = '';
                    this.previousSign = sign;
                    //  console.log('after ',this.previousSign);
                  }

                } else if (sign === '+' || sign === '-') {
                  this.history += this.inputValue + sign;


                  if (this.currentValue !== '') {
                    let val = this.currentValue + this.previousSign + this.inputValue;
                    let counted = eval(val);
                    console.log('counted ', counted);


                    this.inputPlaceholder = counted;
                    this.currentValue = counted;
                    this.inputValue = '',

                      this.previousSign = sign;
                  } else {

                    this.inputPlaceholder = this.inputValue;
                    this.currentValue = this.inputValue;
                    this.inputValue = '',
                      this.previousSign = sign;


                  }

                } else if (sign === 'pow') {

                  if (this.currentValue !== '') {
                    let val = this.currentValue + this.previousSign + this.inputValue;
                    let counted = eval(val);

                    let powerUp = Math.pow(counted, 2);

                    this.inputPlaceholder = powerUp;
                    this.currentValue = powerUp;
                    this.inputValue = '',
                      this.history = counted + '^2 =' + powerUp;

                    this.previousSign = '=';
                  } else {
                    //console.log('what I get ', this.currentValue);
                    let powerFirst = Math.pow(Number(this.inputValue), 2);
                    this.inputPlaceholder = powerFirst;
                    this.currentValue = powerFirst;
                    // this.inputPlaceholder = '';
                    //  console.log( 'before ',this.previousSign);
                    this.history = this.inputValue + '^2 = ' + powerFirst;
                    this.inputValue = '',
                      this.previousSign = '=';
                  }

                }else if (sign === 'root') {
                  if (this.inputValue < 0 || this.currentValue < 0) {
                    console.log('negativ values dont work');
                    this.placeholder = 'Error'
                    this.inputValue = '';
                    this.history = '';

                    this.results.push('Error, a negativ invalid number');

                  }else {
                    if (this.currentValue !== '') {
                      let val = this.currentValue + this.previousSign + this.inputValue;
                      let counted = eval(val);

                      let squere = Math.sqrt(counted);

                      this.inputPlaceholder = squere;
                      this.currentValue = squere;
                      this.inputValue = '',
                      this.history = counted +' =' + squere;

                      this.previousSign = '=';
                    } else {
                      //console.log('what I get ', this.currentValue);
                      let squereFirst = Math.sqrt(Number(this.inputValue));
                      this.inputPlaceholder = squereFirst;
                      this.currentValue = squereFirst;
                      // this.inputPlaceholder = '';
                      //  console.log( 'before ',this.previousSign);
                      this.history = this.inputValue +  ' = ' + squereFirst;
                      this.inputValue = '',
                      this.previousSign = '=';
                    }

                  }
                  Math.sqrt(16);
                }

              }

            } else {


              console.log('no value');
            }
          },

          // keepAdding: function(sign) {
          //
          //   if (this.inputValue !== '') {
          //     if (this.inputValue.indexOf('-') === 0 && this.inputValue.length === 1) {
          //
          //       console.log('must be a number');
          //     } else {
          //
          //       this.history += this.inputValue + sign;
          //
          //       let get = this.history.substring(0, this.history.length - 1)
          //       let count = eval(get);
          //       console.log(this.history);
          //       console.log(get);
          //       console.log(count);
          //
          //       this.inputValue = '',
          //         this.inputPlaceholder = '';
          //       //  this.currentValue = count;
          //       console.log(this.currentValue);
          //     }
          //
          //
          //
          //   } else {
          //     console.log('no value');
          //   }
          //
          //
          // },
          equals: function() {
            if (this.currentValue !== '') {
              let val = this.currentValue + this.previousSign + this.inputValue;
              let counted = eval(val);
              console.log('counted ', counted);


              this.inputPlaceholder = counted;
              this.currentValue = counted;
              this.history += this.inputValue + ' = ' + counted;
              let res = this.history;
              this.results.push(res);
              this.inputValue = '';
              this.minusSign = 0;


              this.previousSign = '=';
            } else {
              //console.log('what I get ', this.currentValue);
              this.inputPlaceholder = '';
              this.currentValue = '';
              // this.inputPlaceholder = '';
              //  console.log( 'before ',this.previousSign);
              this.inputValue = '';
              this.minusSign = 0;

              //this.previousSign = '=';
              //  console.log('after ',this.previousSign);
            }

            // if (this.history !== '') {
            //   this.history += this.inputValue;
            //   let value = eval(this.history);
            //   this.history += ' = ' + value;
            //   this.inputPlaceholder = value;
            //   this.inputValue = '';
            //
            // }
          },
          numberButtons: function(num) {
            if (this.previousSign === '=') {
              this.history = '';
              this.inputValue = '';
              this.currentValue = '';
              this.previousSign = '';
              this.minusSign = 0;
            }

            this.inputValue += num;
          }
        } // Methods
      }); // Vue


    }); // window load
  </script>
</head>

<body>
  <div class="rootDiv" id="root">
    <p>{{history}}</p> <br>
    <input v-model='inputValue' @keypress="validateNum(event)" :placeholder="inputPlaceholder" type="text" name="" :value="inputValue">

    <div class="buttonContainer">
      <div class="row1">
        <button @click='plusButton("pow")' type="button" name="button">&times;&#178;</button>
        <button @click='plusButton("root")' type="button" name="button">&#8730;</button>
        <button type="button" name="button">&#8678;</button>
        <button @click='clear' type="button" name="button">Clear</button>
      </div>
      <div class="row2">
        <button @click='numberButtons("1")' class="num" type="button" name="button">1</button>
        <button @click='numberButtons("2")' class="num" type="button" name="button">2</button>
        <button @click='numberButtons("3")' class="num" type="button" name="button">3</button>
        <button @click='plusButton("/")' type="button" name="button">&#247;</button>
      </div>
      <div class="row3">
        <button @click='numberButtons("4")' class="num" type="button" name="button">4</button>
        <button @click='numberButtons("5")' class="num" type="button" name="button">5</button>
        <button @click='numberButtons("6")' class="num" type="button" name="button">6</button>
        <button @click='minusButton' type="button" name="button">&#8722;</button>
      </div>
      <div class="row4">
        <button @click='numberButtons("7")' class="num" type="button" name="button">7</button>
        <button @click='numberButtons("8")' class="num" type="button" name="button">8</button>
        <button @click='numberButtons("9")' class="num" type="button" name="button">9</button>
        <button @click='plusButton("*")' type="button" name="button">&#215;</button>
      </div>
      <div class="row4">
        <button @click='dotButton' type="button" name="button">.</button>
        <button @click='inputValue += "0"' class="num" type="button" name="button">0</button>
        <button @click='equals' class="equal" type="button" name="button">&#61;</button>
        <button @click='plusButton("+")' type="button" name="button">&#43;</button>
      </div>

    </div>

    <h1>Tidigare uträckningar:</h1>
    <hr>
    <p v-for='item in results'>{{item}}</p>




  </div>

</body>

</html>
